<head>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="/static/js/gameplay.js"> </script>
  <script src="/static/js/game.js"> </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
  <h1>magic square</h1>
</header>
<main>
<div class="numbers">
    {% for num in nums %}
      <div class="numTile" id="num{{loop.index0 +1}}" draggable="true">
        {{loop.index0 +1 }}
      </div>
    {% endfor %}
</div>
<div class="gameboard" ondragover="event.preventDefault()">
{% for row in rows %}
  <div class="row" data-y="{{loop.index0}}" ondragover="event.preventDefault()">
    {% for cell in row %}
      <div class="cell" data-x="{{loop.index0}}" >{{cell}}</div>
    {% endfor %}
  </div>
{% endfor %}
</div>
</main>
